src/main/mule/test-insert-autogeneratedkey-in-table.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="e85fb162-ac6c-4946-996d-b05591efb0d9" >
		<http:listener-connection host="0.0.0.0" port="8021" />
	</http:listener-config>
	<flow name="test-insert-autogeneratedkey-in-tableFlow" doc:id="89e4ac81-a467-442e-92c4-53fd1cb19186" >
		<http:listener doc:name="Listener" doc:id="45f4c710-abee-4c6f-922a-ee4e574cbba0" config-ref="HTTP_Listener_config1" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="564f44ad-4c38-485c-914d-1032d1e955cb" message=":Started:#[payload]:::"/>
	<db:insert doc:name="InsertCustemetTable" doc:id="5be87013-0fe7-41f1-b5d0-35d862138baf" config-ref="RetailInterface_Database_Config" autoGenerateKeys="true">
			<db:sql ><![CDATA[insert into customers
(cust_name, cust_address)
values 
('8th Customer','8th Av, North Syndey')]]></db:sql>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="CUST_ID" />
			</db:auto-generated-keys-column-names>
		
</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="e9cf89b4-1407-49f3-a1f6-acc3ef00514c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="37b38978-3091-4170-83a0-b02d5104585a" message=":AfterDB output:#[payload]:"/>
		
		<!-- <db:insert doc:name="InsertCustemetTable" doc:id="5c3f7da4-b8b7-4172-922b-b43e7dcf22bd" config-ref="RetailInterface_Database_Config">
			<db:sql ><![CDATA[INSERT INTO OpayoTransactionHeader (ReservedUKCards2, AuthorisationMethod, DiscretionaryData2, TransactionNumber, AuthorisationCode, ShiftMark, TransactionTime, TransactionType, Amount, CardIssueNumber, CardholderNumber, DiscretionaryData1, TerminalType, CardExpiryDate, TransactionDate, ReservedUKCards1, TransactionSource, CreatedDate, UpdatedDate, SiteHeaderId, FileID) values (:ReservedUKCards2, :AuthorisationMethod, :DiscretionaryData2, :TransactionNumber, :AuthorisationCode, :ShiftMark, :TransactionTime, :TransactionType, :Amount, :CardIssueNumber, :CardholderNumber, :DiscretionaryData1, :TerminalType, :CardExpiryDate, :TransactionDate, :ReservedUKCards1, :TransactionSource, :CreatedDate, :UpdatedDate, :SiteHeaderId, :FileID)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
			//FileID: vars.maxId.test default 1,
			FileID: payload.FileID,
			SiteHeaderId: 3,
			TransactionHeaderID: payload.TransactionNumber,
			ReservedUKCards2: "",
			AuthorisationMethod: "",
			DiscretionaryData2: "",
			TransactionNumber: payload.TransactionNumber,
			AuthorisationCode: payload.AuthorisationCode,
			ShiftMark: payload.ShiftMark,
			TransactionTime: payload.TransactionTime,
			TransactionType: payload.TransactionType,
			MessageClass: payload.MessageClass,
			Amount: payload.Amount,
			CardIssueNumber: payload.CardIssueNumber,
			CardholderNumber: payload.CardholderNumber,
			//CardholderNumber: 4565,
			DiscretionaryData1: payload.DiscretionaryData1,
			TerminalType: payload.TerminalType,
			//CardExpiryDate: messageClass4.CardExpiryDate,
			CardExpiryDate:"2023-03-08 10:03:28",			
			//TransactionDate: messageClass4.TransactionDate,
			TransactionDate:"2023-03-08 10:03:28",
			ReservedUKCards1: payload.ReservedUKCards1,
			TransactionSource: payload.TransactionSource,
			//MessageClass4Table: "MessageClass4",
			CreatedDate: now() as DateTime as String {format: "yyyy-MM-dd HH:mm:ss"},
			UpdatedDate: now() as DateTime as String {format: "yyyy-MM-dd HH:mm:ss"},
			CreatedOrUpdatedBy4: "MuleSoft"
			//CreatedDateTime4: "",
			//UpdatedDateTime4: "",
			//CreatedOrUpdatedBy4: ""
		}]]]></db:input-parameters>
		</db:insert> -->
	
</flow>
</mule>
